<nav class="navbar d-flex justify-content-center">
    <ul class="d-flex justify-content-center align-items-center list-unstyled">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Chef" asp-action="Index">Chefs</a>
        </li>
        <h6>|</h6>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Plato" asp-action="Platos">Platos</a>
        </li>
        <h6>|</h6>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Chef" asp-action="NuevoChef">Agregar un Chef</a>
        </li>
        <h6>|</h6>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Plato" asp-action="NuevoPlato">Agregar un Plato</a>
        </li>
    </ul>
</nav>